<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="mypage_mapper">
	
	<select id="findAvgWeeklyNutrientByMemberInfo" parameterType="TotalDietSearchCondition" resultType="Diet">
		select 
		    TRUNC(AVG(kcal),1) kcal,
		    TRUNC(AVG(water),1) water,
		    TRUNC(AVG(protein),1) protein,
		    TRUNC(AVG(fat),1) fat,
		    TRUNC(AVG(batch),1) batch,
		    TRUNC(AVG(carbohydrate),1) carbohydrate,
		    TRUNC(AVG(sugars),1) sugars,
		    TRUNC(AVG(dietary_fiber),1) dietary_fiber,
		    TRUNC(AVG(calcium),1) calcium,
		    TRUNC(AVG(iron_content),1) iron_content,
		    TRUNC(AVG(phosphorus),1) phosphorus,
		    TRUNC(AVG(potassium),1) potassium,
		    TRUNC(AVG(sodium),1) sodium,
		    TRUNC(AVG(vitamin_a),1) vitamin_a,
		    TRUNC(AVG(retinol),1) retinol,
		    TRUNC(AVG(beta_carotene),1) beta_carotene,
		    TRUNC(AVG(thiamine),1) thiamine,
		    TRUNC(AVG(riboflavin),1) riboflavin,
		    TRUNC(AVG(niacin),1) niacin,
		    TRUNC(AVG(vitamin_c),1) vitamin_c,
		    TRUNC(AVG(vitamin_d),1) vitamin_d,
		    TRUNC(AVG(cholesterol),1) cholesterol,
		    TRUNC(AVG(saturated_fat),1) saturated_fat,
		    TRUNC(AVG(trans_fat),1) trans_fat 
	   	from
		    (SELECT
		    COUNT(*) foodName,
		    save_date,
		    SUM(kcal) AS kcal,
		    SUM(water) AS water,
		    SUM(protein) AS protein,
		    SUM(fat) AS fat,
		    SUM(batch) AS batch,
		    SUM(carbohydrate) AS carbohydrate,
		    SUM(sugars) AS sugars,
		    SUM(dietary_fiber) AS dietary_fiber,
		    SUM(calcium) AS calcium,
		    SUM(iron_content) AS iron_content,
		    SUM(phosphorus) AS phosphorus,
		    SUM(potassium) AS potassium,
		    SUM(sodium) AS sodium,
		    SUM(vitamin_a) AS vitamin_a,
		    SUM(retinol) AS retinol,
		    SUM(beta_carotene) AS beta_carotene,
		    SUM(thiamine) AS thiamine,
		    SUM(riboflavin) AS riboflavin,
		    SUM(niacin) AS niacin,
		    SUM(vitamin_c) AS vitamin_c,
		    SUM(vitamin_d) AS vitamin_d,
		    SUM(cholesterol) AS cholesterol,
		    SUM(saturated_fat) AS saturated_fat,
		    SUM(trans_fat) AS trans_fat
		FROM ( SELECT
		    TO_CHAR(save_date, 'YYYY-MM-DD') save_date,
		    kcal,
		    water,
		    protein,
		    fat,
		    batch,
		    carbohydrate,
		    sugars,
		    dietary_fiber,
		    calcium,
		    iron_content,
		    phosphorus,
		    potassium,
		    sodium,
		    vitamin_a,
		    retinol,
		    beta_carotene,
		    thiamine,
		    riboflavin,
		    niacin,
		    vitamin_c,
		    vitamin_d,
		    cholesterol,
		    saturated_fat,
		    trans_fat
		    FROM diet
		<where>
				state != 3
			<if test="accountNo != null and accountNo != '' ">
				AND account_no = #{accountNo}				
			</if>
			<if test="memberNo != null and memberNo != '' ">
				AND member_no = #{memberNo}				
			</if>		
				AND save_date BETWEEN SYSDATE-7 and SYSDATE )
				GROUP BY save_date)							
		</where>				
	</select>
	
	<select id="getDailyTotalNutrientForPast30DaysByMemberInfo" parameterType="TotalDietSearchCondition" resultType="Diet">
		SELECT
		    COUNT(*) foodName,
		    save_date,
		    SUM(kcal) AS kcal,
		    SUM(water) AS water,
		    SUM(protein) AS protein,
		    SUM(fat) AS fat,
		    SUM(batch) AS batch,
		    SUM(carbohydrate) AS carbohydrate,
		    SUM(sugars) AS sugars,
		    SUM(dietary_fiber) AS dietary_fiber,
		    SUM(calcium) AS calcium,
		    SUM(iron_content) AS iron_content,
		    SUM(phosphorus) AS phosphorus,
		    SUM(potassium) AS potassium,
		    SUM(sodium) AS sodium,
		    SUM(vitamin_a) AS vitamin_a,
		    SUM(retinol) AS retinol,
		    SUM(beta_carotene) AS beta_carotene,
		    SUM(thiamine) AS thiamine,
		    SUM(riboflavin) AS riboflavin,
		    SUM(niacin) AS niacin,
		    SUM(vitamin_c) AS vitamin_c,
		    SUM(vitamin_d) AS vitamin_d,
		    SUM(cholesterol) AS cholesterol,
		    SUM(saturated_fat) AS saturated_fat,
		    SUM(trans_fat) AS trans_fat
		FROM ( SELECT
		    TO_CHAR(save_date, 'YYYY-MM-DD') save_date,
		    kcal,
		    water,
		    protein,
		    fat,
		    batch,
		    carbohydrate,
		    sugars,
		    dietary_fiber,
		    calcium,
		    iron_content,
		    phosphorus,
		    potassium,
		    sodium,
		    vitamin_a,
		    retinol,
		    beta_carotene,
		    thiamine,
		    riboflavin,
		    niacin,
		    vitamin_c,
		    vitamin_d,
		    cholesterol,
		    saturated_fat,
		    trans_fat
		    FROM diet
		<where>
			<if test="accountNo != null and accountNo != '' ">
				account_no = #{accountNo}				
			</if>
			<if test="memberNo != null and memberNo != '' ">
				AND member_no = #{memberNo}				
			</if>		
				AND save_date BETWEEN SYSDATE-30 and SYSDATE 
				AND state !=3 )
				GROUP BY save_date
				ORDER BY save_date ASC							
		</where>
					
	</select>
	
	<select id="findTotalDietBySearchCondition" parameterType="TotalDietSearchCondition" resultType="Diet">
		SELECT
		    td.log_no log_no,
		    td.account_no account_no,
		    td.member_no member_no, 
		    TO_CHAR(td.save_date, 'YYYY-MM-DD') save_date,
		    td.food_code food_code,
		    ft.food_name food_name, 
		    td.kcal kcal,
		    td.water water,
		    td.protein protein,
		    td.fat fat,
		    td.batch batch,
		    td.carbohydrate carbohydrate,
		    td.sugars sugars,
		    td.dietary_fiber dietary_fiber,
		    td.calcium calcium,
		    td.iron_content iron_content,
		    td.phosphorus phosphorus,
		    td.potassium potassium,
		    td.sodium sodium,
		    td.vitamin_a vitamin_a,
		    td.retinol retinol,
		    td.beta_carotene beta_carotene,
		    td.thiamine thiamine,
		    td.riboflavin riboflavin,
		    td.niacin niacin,
		    td.vitamin_c vitamin_c,
		    td.vitamin_d vitamin_d,
		    td.cholesterol cholesterol,
		    td.saturated_fat saturated_fat,
		    td.trans_fat trans_fat
			FROM
		    (
		        SELECT 
		            *
		        FROM diet
		<where>
			<if test="accountNo != null and accountNo != '' ">
				account_no = #{accountNo}				
			</if>
			<if test="memberNo != null and memberNo != '' ">
				AND member_no = #{memberNo}				
			</if>		
			<if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
				AND save_date BETWEEN TO_DATE(#{startDate}, 'YYYY-MM-DD') AND TO_DATE(#{endDate}, 'YYYY-MM-DD')	+ INTERVAL '1' DAY							
			</if>								
		</where>
			) td,
		    (
		        SELECT
		            food_code,
		            food_name,
		            kcal, 
		            water,
		            protein,
		            fat,
		            batch,
		            carbohydrate,
		            sugars,
		            dietary_fiber,
		            calcium,
		            iron_content,
		            phosphorus,
		            potassium,
		            sodium,
		            vitamin_a,
		            retinol,
		            beta_carotene,
		            thiamine,
		            riboflavin,
		            niacin,
		            vitamin_c,
		            vitamin_d,
		            cholesterol,
		            saturated_fat,
		            trans_fat
		        FROM food_list_processed
		        UNION ALL
		        SELECT food_code, 
		            food_name, 
		            kcal, 
		            water,
		            protein,
		            fat,
		            batch,
		            carbohydrate,
		            sugars,
		            dietary_fiber,
		            calcium,
		            iron_content,
		            phosphorus,
		            potassium,
		            sodium,
		            vitamin_a,
		            retinol,
		            beta_carotene,
		            thiamine,
		            riboflavin,
		            niacin,
		            vitamin_c,
		            vitamin_d,
		            cholesterol,
		            saturated_fat,
		            trans_fat
		        FROM food_list_cooked
		        UNION ALL
		        SELECT food_code, food_name, kcal, water,
		            protein,
		            fat,
		            batch,
		            carbohydrate,
		            sugars,
		            dietary_fiber,
		            calcium,
		            iron_content,
		            phosphorus,
		            potassium,
		            sodium,
		            vitamin_a,
		            retinol,
		            beta_carotene,
		            thiamine,
		            riboflavin,
		            niacin,
		            vitamin_c,
		            vitamin_d,
		            cholesterol,
		            saturated_fat,
		            trans_fat
		        FROM food_list_agriculture
		        UNION ALL
		        SELECT food_code, food_name, kcal, water,
		            protein,
		            fat,
		            batch,
		            carbohydrate,
		            sugars,
		            dietary_fiber,
		            calcium,
		            iron_content,
		            phosphorus,
		            potassium,
		            sodium,
		            vitamin_a,
		            retinol,
		            beta_carotene,
		            thiamine,
		            riboflavin,
		            niacin,
		            vitamin_c,
		            vitamin_d,
		            cholesterol,
		            saturated_fat,
		            trans_fat
		        FROM food_list_fisheries
		        ) ft
		<where>
				td.food_code = ft.food_code
				AND state !=3
		</where>
		ORDER BY td.log_no		
	</select>
	
	<select id="getDailyTotalNutrientBySearchCondition" parameterType="TotalDietSearchCondition" resultType="Diet">
		SELECT
		    COUNT(*) foodName,
		    save_date,
		    SUM(kcal) AS kcal,
		    SUM(water) AS water,
		    SUM(protein) AS protein,
		    SUM(fat) AS fat,
		    SUM(batch) AS batch,
		    SUM(carbohydrate) AS carbohydrate,
		    SUM(sugars) AS sugars,
		    SUM(dietary_fiber) AS dietary_fiber,
		    SUM(calcium) AS calcium,
		    SUM(iron_content) AS iron_content,
		    SUM(phosphorus) AS phosphorus,
		    SUM(potassium) AS potassium,
		    SUM(sodium) AS sodium,
		    SUM(vitamin_a) AS vitamin_a,
		    SUM(retinol) AS retinol,
		    SUM(beta_carotene) AS beta_carotene,
		    SUM(thiamine) AS thiamine,
		    SUM(riboflavin) AS riboflavin,
		    SUM(niacin) AS niacin,
		    SUM(vitamin_c) AS vitamin_c,
		    SUM(vitamin_d) AS vitamin_d,
		    SUM(cholesterol) AS cholesterol,
		    SUM(saturated_fat) AS saturated_fat,
		    SUM(trans_fat) AS trans_fat
		FROM ( SELECT
		    TO_CHAR(save_date, 'YYYY-MM-DD') save_date,
		    kcal,
		    water,
		    protein,
		    fat,
		    batch,
		    carbohydrate,
		    sugars,
		    dietary_fiber,
		    calcium,
		    iron_content,
		    phosphorus,
		    potassium,
		    sodium,
		    vitamin_a,
		    retinol,
		    beta_carotene,
		    thiamine,
		    riboflavin,
		    niacin,
		    vitamin_c,
		    vitamin_d,
		    cholesterol,
		    saturated_fat,
		    trans_fat
		    FROM diet
		<where>
				state != 3
			<if test="accountNo != null and accountNo != '' ">
				AND account_no = #{accountNo}				
			</if>
			<if test="memberNo != null and memberNo != '' ">
				AND member_no = #{memberNo}				
			</if>		
			<if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
				AND save_date BETWEEN TO_DATE(#{startDate}, 'YYYY-MM-DD') AND TO_DATE(#{endDate}, 'YYYY-MM-DD')	+ INTERVAL '1' DAY
			</if>
				 )
		</where>		
		GROUP BY save_date
		ORDER BY save_date DESC				
	</select>
	
	<select id="getNutrientStandardByMemberInfo" parameterType="TotalDietSearchCondition" resultType="Diet">
		SELECT 
		    n.nutrient_name food_name,
    		s.intake_rec food_intake
		FROM nutrient n,                 
		        (
		        SELECT 
				    a.nutrient_id nutrient_id ,
				    a.gender_id gender_id,
				    a.age_min age_min,
				    a.age_max age_max,
				    a.intake_rec + b.intake_rec intake_rec,
				    a.intake_max intake_max
				FROM
				(
				    SELECT *
				    FROM nutrition_standard
				    WHERE
				        (
				            SELECT CEIL(MONTHS_BETWEEN(SYSDATE, birth)) 
				            FROM member
				            WHERE account_no = #{accountNo} AND member_no = #{memberNo}
				        ) BETWEEN age_min AND age_max
				        AND gender_id = DECODE (
				            (
				                CASE 
				                    WHEN
				                        CEIL (MONTHS_BETWEEN( SYSDATE, (SELECT birth FROM member WHERE account_no = #{accountNo} AND member_no = #{memberNo}) ) ) &lt; 61
				                        THEN 
				                            (
				                                SELECT DISTINCT(gender_id) 
				                                FROM nutrition_standard 
				                                WHERE CEIL(MONTHS_BETWEEN( SYSDATE, (SELECT birth FROM member WHERE account_no = #{accountNo} AND member_no = #{memberNo}) ) ) BETWEEN age_min AND age_max
				                            )
				                    ELSE (SELECT gender_id FROM member WHERE account_no = #{accountNo} AND member_no = #{memberNo})
				                END
				            ), 1, 1, 2, 2, 3, 3, 4
				       )
				) a, 
				
				(
				    SELECT 
				        nutrient_id,
				        DECODE((SELECT gender_id FROM member WHERE account_no = #{accountNo} AND member_no = #{memberNo}), 5, intake_rec, 6, intake_rec, 0) intake_rec
				    FROM nutrition_standard
				    WHERE
				        (
				            SELECT CEIL( MONTHS_BETWEEN( SYSDATE, NVL2( (SELECT pregnant_date FROM member WHERE account_no = #{accountNo} AND member_no = #{memberNo}),
				                                                        (SELECT pregnant_date FROM member WHERE account_no = #{accountNo} AND member_no = #{memberNo}), add_months(sysdate,-120) ) ) )
				            FROM member
				            WHERE
				            account_no = #{accountNo} AND member_no = #{memberNo}
				        ) BETWEEN age_min AND age_max
				        AND gender_id = dECODE((SELECT gender_id FROM member WHERE account_no = #{accountNo} AND member_no = #{memberNo}), 5, 5, 6, 6, 4)
				) b
				WHERE a.nutrient_id = b.nutrient_id
				) s
		WHERE n.nutrient_id = s.nutrient_id 
		ORDER BY n.nutrient_id		
	</select>	
	
</mapper>