<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="mypage_mapper">
	
	<select id="findTotalDietBySearchCondition" parameterType="TotalDietSearchCondition" resultType="Diet">
		SELECT * FROM total_diet
		<where>
			<if test="accountNo != null and accountNo != '' ">
				account_no = #{accountNo}				
			</if>
			<if test="memberNo != null and memberNo != '' ">
				AND member_no = #{memberNo}				
			</if>		
				AND save_date BETWEEN SYSDATE-7 and SYSDATE
		</where>				
	</select>
	
	<select id="findTotalDietByAvg" parameterType="TotalDietSearchCondition" resultType="Diet">
		select 
        AVG(kcal) kcal,
		AVG(water) water,
		AVG(protein) protein,
		AVG(fat) fat,
		AVG(batch) batch,
		AVG(carbohydrate) carbohydrate,
		AVG(sugars) sugars,
		AVG(dietary_fiber) dietary_fiber,
		AVG(calcium) calcium,
		AVG(iron_content) iron_content,
		AVG(phosphorus) phosphorus,
		AVG(potassium) potassium,
		AVG(sodium) sodium,
		AVG(vitamin_a) vitamin_a,
		AVG(retinol) retinol,
		AVG(beta_carotene) beta_carotene,
		AVG(thiamine) thiamine,
		AVG(riboflavin) riboflavin,
		AVG(niacin) niacin,
		AVG(vitamin_c) vitamin_c,
		AVG(vitamin_d) vitamin_d,
		AVG(cholesterol) cholesterol,
		AVG(saturated_fat) saturated_fat,
		AVG(trans_fat) trans_fat 
        from
        (SELECT 
		SUM(kcal) kcal,
		SUM(water) water,
		SUM(protein) protein,
		SUM(fat) fat,
		SUM(batch) batch,
		SUM(carbohydrate) carbohydrate,
		SUM(sugars) sugars,
		SUM(dietary_fiber) dietary_fiber,
		SUM(calcium) calcium,
		SUM(iron_content) iron_content,
		SUM(phosphorus) phosphorus,
		SUM(potassium) potassium,
		SUM(sodium) sodium,
		SUM(vitamin_a) vitamin_a,
		SUM(retinol) retinol,
		SUM(beta_carotene) beta_carotene,
		SUM(thiamine) thiamine,
		SUM(riboflavin) riboflavin,
		SUM(niacin) niacin,
		SUM(vitamin_c) vitamin_c,
		SUM(vitamin_d) vitamin_d,
		SUM(cholesterol) cholesterol,
		SUM(saturated_fat) saturated_fat,
		SUM(trans_fat) trans_fat
		FROM total_diet
		<where>
			<if test="accountNo != null and accountNo != '' ">
				account_no = #{accountNo}				
			</if>
			<if test="memberNo != null and memberNo != '' ">
				AND member_no = #{memberNo}				
			</if>		
				AND save_date BETWEEN SYSDATE-7 and SYSDATE
				GROUP BY save_date)							
		</where>				
	</select>
	
	<select id="findTotalDietByMonthSum" parameterType="TotalDietSearchCondition" resultType="Diet">
		select 
        AVG(kcal) kcal,
		AVG(water) water,
		AVG(protein) protein,
		AVG(fat) fat,
		AVG(batch) batch,
		AVG(carbohydrate) carbohydrate,
		AVG(sugars) sugars,
		AVG(dietary_fiber) dietary_fiber,
		AVG(calcium) calcium,
		AVG(iron_content) iron_content,
		AVG(phosphorus) phosphorus,
		AVG(potassium) potassium,
		AVG(sodium) sodium,
		AVG(vitamin_a) vitamin_a,
		AVG(retinol) retinol,
		AVG(beta_carotene) beta_carotene,
		AVG(thiamine) thiamine,
		AVG(riboflavin) riboflavin,
		AVG(niacin) niacin,
		AVG(vitamin_c) vitamin_c,
		AVG(vitamin_d) vitamin_d,
		AVG(cholesterol) cholesterol,
		AVG(saturated_fat) saturated_fat,
		AVG(trans_fat) trans_fat 
        from
        (SELECT 
		SUM(kcal) kcal,
		SUM(water) water,
		SUM(protein) protein,
		SUM(fat) fat,
		SUM(batch) batch,
		SUM(carbohydrate) carbohydrate,
		SUM(sugars) sugars,
		SUM(dietary_fiber) dietary_fiber,
		SUM(calcium) calcium,
		SUM(iron_content) iron_content,
		SUM(phosphorus) phosphorus,
		SUM(potassium) potassium,
		SUM(sodium) sodium,
		SUM(vitamin_a) vitamin_a,
		SUM(retinol) retinol,
		SUM(beta_carotene) beta_carotene,
		SUM(thiamine) thiamine,
		SUM(riboflavin) riboflavin,
		SUM(niacin) niacin,
		SUM(vitamin_c) vitamin_c,
		SUM(vitamin_d) vitamin_d,
		SUM(cholesterol) cholesterol,
		SUM(saturated_fat) saturated_fat,
		SUM(trans_fat) trans_fat
		FROM total_diet
		<where>
			<if test="accountNo != null and accountNo != '' ">
				account_no = #{accountNo}				
			</if>
			<if test="memberNo != null and memberNo != '' ">
				AND member_no = #{memberNo}				
			</if>		
				AND save_date BETWEEN SYSDATE-30 and SYSDATE
				GROUP BY save_date)							
		</where>				
	</select>
	
	<select id="findTotalDietBySaveHistory" parameterType="TotalDietSearchCondition" resultType="Diet">
		SELECT
		    td.log_no log_no,
		    td.account_no account_no,
		    td.member_no member_no,
		    TO_CHAR(td.save_date, 'YYYY-MM-DD') save_date,
		    td.food_code food_code,
		    ft.food_name food_name, 
		    td.kcal kcal,
		    td.water water,
		    td.protein protein,
		    td.fat fat,
		    td.batch batch,
		    td.carbohydrate carbohydrate,
		    td.sugars sugars,
		    td.dietary_fiber dietary_fiber,
		    td.calcium calcium,
		    td.iron_content iron_content,
		    td.phosphorus phosphorus,
		    td.potassium potassium,
		    td.sodium sodium,
		    td.vitamin_a vitamin_a,
		    td.retinol retinol,
		    td.beta_carotene beta_carotene,
		    td.thiamine thiamine,
		    td.riboflavin riboflavin,
		    td.niacin niacin,
		    td.vitamin_c vitamin_c,
		    td.vitamin_d vitamin_d,
		    td.cholesterol cholesterol,
		    td.saturated_fat saturated_fat,
		    td.trans_fat trans_fat
			FROM
		    (
		        SELECT 
		            *
		        FROM total_diet
		<where>
			<if test="accountNo != null and accountNo != '' ">
				account_no = #{accountNo}				
			</if>
			<if test="memberNo != null and memberNo != '' ">
				AND member_no = #{memberNo}				
			</if>		
			<if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
				AND save_date BETWEEN TO_DATE(#{startDate}, 'YYYY-MM-DD') AND TO_DATE(#{endDate}, 'YYYY-MM-DD')								
			</if>								
		</where>
			) td,
		    (
		        SELECT
		            food_code,
		            food_name,
		            kcal, 
		            water,
		            protein,
		            fat,
		            batch,
		            carbohydrate,
		            sugars,
		            dietary_fiber,
		            calcium,
		            iron_content,
		            phosphorus,
		            potassium,
		            sodium,
		            vitamin_a,
		            retinol,
		            beta_carotene,
		            thiamine,
		            riboflavin,
		            niacin,
		            vitamin_c,
		            vitamin_d,
		            cholesterol,
		            saturated_fat,
		            trans_fat
		        FROM food_list_processed
		        UNION ALL
		        SELECT food_code, 
		            food_name, 
		            kcal, 
		            water,
		            protein,
		            fat,
		            batch,
		            carbohydrate,
		            sugars,
		            dietary_fiber,
		            calcium,
		            iron_content,
		            phosphorus,
		            potassium,
		            sodium,
		            vitamin_a,
		            retinol,
		            beta_carotene,
		            thiamine,
		            riboflavin,
		            niacin,
		            vitamin_c,
		            vitamin_d,
		            cholesterol,
		            saturated_fat,
		            trans_fat
		        FROM food_list_cooked
		        UNION ALL
		        SELECT food_code, food_name, kcal, water,
		            protein,
		            fat,
		            batch,
		            carbohydrate,
		            sugars,
		            dietary_fiber,
		            calcium,
		            iron_content,
		            phosphorus,
		            potassium,
		            sodium,
		            vitamin_a,
		            retinol,
		            beta_carotene,
		            thiamine,
		            riboflavin,
		            niacin,
		            vitamin_c,
		            vitamin_d,
		            cholesterol,
		            saturated_fat,
		            trans_fat
		        FROM food_list_agriculture
		        UNION ALL
		        SELECT food_code, food_name, kcal, water,
		            protein,
		            fat,
		            batch,
		            carbohydrate,
		            sugars,
		            dietary_fiber,
		            calcium,
		            iron_content,
		            phosphorus,
		            potassium,
		            sodium,
		            vitamin_a,
		            retinol,
		            beta_carotene,
		            thiamine,
		            riboflavin,
		            niacin,
		            vitamin_c,
		            vitamin_d,
		            cholesterol,
		            saturated_fat,
		            trans_fat
		        FROM food_list_fisheries
		        ) ft
		<where>
				td.food_code = ft.food_code
		</where>
		ORDER BY td.save_date DESC		
	</select>
	
	<select id="findTotalDietBySaveHistoryAvg" parameterType="TotalDietSearchCondition" resultType="Diet">
		SELECT
		COUNT(*) foodName,
        TO_CHAR(save_date, 'YYYY-MM-DD') save_date,
		SUM(kcal) kcal,
		SUM(water) water,
		SUM(protein) protein,
		SUM(fat) fat,
		SUM(batch) batch,
		SUM(carbohydrate) carbohydrate,
		SUM(sugars) sugars,
		SUM(dietary_fiber) dietary_fiber,
		SUM(calcium) calcium,
		SUM(iron_content) iron_content,
		SUM(phosphorus) phosphorus,
		SUM(potassium) potassium,
		SUM(sodium) sodium,
		SUM(vitamin_a) vitamin_a,
		SUM(retinol) retinol,
		SUM(beta_carotene) beta_carotene,
		SUM(thiamine) thiamine,
		SUM(riboflavin) riboflavin,
		SUM(niacin) niacin,
		SUM(vitamin_c) vitamin_c,
		SUM(vitamin_d) vitamin_d,
		SUM(cholesterol) cholesterol,
		SUM(saturated_fat) saturated_fat,
		SUM(trans_fat) trans_fat
		FROM total_diet
		<where>
			<if test="accountNo != null and accountNo != '' ">
				account_no = #{accountNo}				
			</if>
			<if test="memberNo != null and memberNo != '' ">
				AND member_no = #{memberNo}				
			</if>		
			<if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
				AND save_date BETWEEN TO_DATE(#{startDate}, 'YYYY-MM-DD') AND TO_DATE(#{endDate}, 'YYYY-MM-DD')								
			</if>
		</where>
		GROUP BY save_date
		ORDER BY save_date DESC				
	</select>
	
	<select id="findTotalDietByStandard" parameterType="TotalDietSearchCondition" resultType="Diet">
		SELECT 
		    n.nutrient_name food_name,
    		s.intake_rec food_intake
		FROM nutrient n,                 
		        (SELECT *
				FROM nutrition_standard
				WHERE (SELECT CEIL(MONTHS_BETWEEN(SYSDATE, birth)) 
		        FROM member
		        WHERE account_no = #{accountNo} AND member_no = #{memberNo}) 
				BETWEEN age_min AND age_max
				AND gender_id = (SELECT gender_id FROM member WHERE account_no = #{accountNo} AND member_no = #{memberNo})
				ORDER BY nutrient_id) s
		WHERE n.nutrient_id = s.nutrient_id			
	</select>	
	
</mapper>