/* layout */
.inner{width: 1400px; margin: 0 auto;}
.wrap{display: flex; flex-flow: row wrap; justify-content: space-between; align-items: center;}
.wrap_c{display: flex; flex-flow: row wrap; justify-content: space-between; align-items: flex-start; }
.wrap_s{display: flex; flex-flow: row wrap; align-items: center;}
.center{display: flex; flex-flow: row wrap; justify-content: center; align-items: center;}
.content{width: 100%;}





/*#header*/
#header{background: url(../images/main/main_bg.svg); background-position: center;background-size: cover;}
#header .top_nav{border-bottom: 1px solid white;}
#header .top_nav.active{background: #31343D;}
#header .top_nav.active li{color: white;}
#header .top_nav.active a{color: white;}
#header .top_nav .gnb{justify-content: flex-end; padding: 10px 0;}
#header .top_nav .gnb a{font-size: 14px;}
#header .top_nav .gnb a.admin{padding: 5px 15px; background: #1565A2; color: white; border-radius: 6px; margin-left: 20px;}
#header .top_nav .gnb .lnb a.login::after{content: "|"; margin: 20px; color: #808080;}
#header .top_nav .gnb .lnb a.logout::before{content: "|"; margin: 20px; color: #808080;}
#header .top_nav .gnb .lnb.main_profile{display: flex; cursor: pointer;}
#header .top_nav .gnb .lnb.main_profile>img{width: 35px; height: 35px; border-radius: 5px; border: 2px solid #0F64BB;}
#header .profile{background: #31343D; padding: 20px; position: absolute; right: 120px; border-radius: 10px;z-index:100;}
#header .profile .title{color: white; font-size: 16px; margin-bottom: 20px;}
#header .profile .box{margin-right: 20px;}
#header .profile .box:last-child{margin-right: 0;}
#header .profile .box img{width: 50px; height: 50px; border-radius: 5px;}
#header .profile .box p{font-size: 13px; color: white; margin-top: 5px; text-align:center;}
#header .nav{padding: 30px 0;}
#header .nav.active{box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.089);}
#header .nav .lnb>a{padding: 20px 0; text-align: center;}
#header .nav .lnb:last-child>a{padding-right: 0;}
#header .nav .lnb:first-child:before{content: '';}
#header .nav .lnb ul.dap2{display: none; width: 100%; background: url(../images/header/menu_bg.jpg); background-size: contain; position: absolute; top: 18.5%; left: 0;border-top: 1px solid #eee; box-shadow: 0 30px 30px 0 rgba(114, 114, 114, 0.062); z-index: 10;}
#header .nav .lnb ul.dap2 li.lnb_tit{padding: 90px 0px 0px calc((100vw - 110px)/2); position: relative; float: left;}
#header .nav .lnb ul.dap2 li.lnb_tit p{position: absolute; top: 80%; left: 65%; font-size: 28px; color: #1565A2; font-weight: 600;}
#header .nav .lnb ul.dap2>li.lnb_tit p::after{content: url(../images/header/icon/akar-title-alert-fill.svg); position: absolute; top: -45%; left: 18%; transform: translate(-50%, -50%);}
#header .nav .lnb ul.dap2 li.lnb_cont{width: calc((1180px - 40px*11)/2*2 + (100vw - 1470px)/2 + 24px); padding: 20px calc((100vw - 1590px)/2) 60px 25px; float: right; background: white;}
#header .nav .lnb ul.dap2 li.lnb_cont ul.dap3{align-items: flex-start;}
#header .nav .lnb ul.dap2 li.lnb_cont ul.dap3>li>a{background: white; width: 200px; padding: 7px 8px 6px 20px; border: 1px solid #C6C6C6; border-radius: 50px; margin-bottom: 15px;}
#header .nav .lnb ul.dap2 li.lnb_cont ul.dap3>li ul.dap4>li>a{padding: 0 20px; margin-top: 26px; font-size: 16px; display: inline-block; color: #464646;}
#header .nav .lnb ul.dap2 li.lnb_cont ul.dap3>li ul.dap4>li:hover>a{text-decoration: underline;}
#header .nav .lnb ul.dap2 li.lnb_cont ul.dap3>li ul.dap4>li>a::before{content: ""; display: inline-block; vertical-align: 3px; width: 5px; height: 5px; margin-right: 10px; border-radius: 50%; background-color: #bad8ff;}
#header .nav .menu .gnb .lnb a{font-size: 20px; font-weight: bold; color: #373737;}
#header .nav .menu .gnb .lnb a::after{content: url(../images/main/icon/akar-circle-alert-fill.svg); margin: 85px;}
#header .nav .menu .gnb .lnb:last-child a::after{content: none;}

#header .quick_menu{height: 600px; display: flex; flex-flow: row wrap; align-items: center;justify-content: flex-end;}
#header .quick_menu .quick_inner{width: 580px; float: right; margin-bottom: 130px;}
#header .quick_menu .quick_inner .box{width: 90px; height: 170px; display: inline-block; margin-left: 100px;}
#header .quick_menu .quick_inner .box a{text-align: center;}
#header .quick_menu .quick_inner .box .pic{background: #1565A2; padding: 15px 0;margin-bottom: 15px; border-radius: 10px;}
#header .quick_menu .quick_inner .box .info{line-height: 22px; color: #373737;}

@media screen and (max-width: 1200px){

}

@media screen and (max-width: 768px){
    
}


.search .search_inner{background: #1565A2; position: relative; top: -120px; padding: 0 40px 40px 40px; border-radius: 0 40px;}
.search .search_inner .search_info{font-size: 18px; padding: 30px 0 25px 5px; color: #BCD7EB;}
.search .search_inner .search_input{padding: 10px 20px; background: white; border-radius: 10px; border: 5px solid #24397B;}
.search .search_inner .search_input .title{font-size: 18px; font-weight: 600;}
.search .search_inner .search_input input[type="search"]{width: calc((100% - 120px)/1); height: 40px; font-size: 20px; border: none; padding: 10px;}
.search .search_inner .search_input input[type="search"]::placeholder{color: #D6D6D6;}


.service_detail{position: relative; margin-bottom: 160px;}
.service_detail .service_box{width: 1200px; height: 290px; background: #EAEFF5; position: absolute; bottom: 20px; z-index: -1; right: 0;}
.service_detail .title{font-size: 33px; font-weight: bold; margin-bottom: 10px;}
.service_detail .title_exp{font-size: 18px; color: #8A8A8A; margin-bottom: 50px;}
.service_detail .service_list .pic img{border-radius: 20px; box-shadow: 0 3px 10px 0 rgb(0 0 0 / 20%); z-index: 10;}
.service_detail .service_list .info{width: 800px; margin-top: 90px;}
.service_detail .service_list .info .info_inner .slide_title_inner{margin-bottom: 60px;}
.service_detail .service_list .info .info_inner .slide_title{font-size: 25px; font-weight: 600; color: #24397B;}
.service_detail .service_list .info .info_inner .explanation{font-size: 20px; line-height: 40px;}
.service_detail .service_list .info .info_inner .pagenation .pn_num .num{color: #00D4FF;font-size: 21px;}
.service_detail .service_list .info .info_inner .pagenation .pn_num>div{margin-right: 18px;}
.service_detail .service_list .info .info_inner .pagenation .pn_num .num_icon>img{width: 9px;}
.service_detail .service_list .info .info_inner .pagenation .pn_inner>div{margin-left: 20px;}



/* sub_content */
.sub_content{width: 100%; height: 400px; background: url(../images/sub/bg_sub_default.png) no-repeat center; position: absolute; top: 120px; z-index: -10;}

/* sub_title */
.sub_title{padding: 80px;}
.sub_title .title{font-size: 37px; font-weight: bold;}
.sub_title .route .home{margin-right: 15px;}
.sub_title .route .route_info span{color: #8F8F8F;}
.sub_title .route .route_info .dap1::after{content: ''; margin: 15px; padding: 5px; background: url(../images/sub/icon/akar-chevron-right-small.svg) no-repeat center;}







/* search_cont */
.search_cont{position: relative;}
.search_cont .big_search{position: absolute; top: -25px; margin-left: 40px;}
.search_cont .big_search .search_input{border: 3px solid #24397B; padding: 12px 20px; border-radius: 10px; background: white;}
.search_cont .big_search .search_input .title{color: #717171; font-size: 18px; font-weight: bold;}
.search_cont .big_search .search_input input{width: 400px;margin: 0 20px; font-size: 18px;padding: 10px 0;}
.search_cont .big_search .search_input input::placeholder{color: #D6D6D6;}
.search_cont .search_inner{background: #EAEFF5; padding: 40px;}
.search_cont .search_inner .tab{display: flex; justify-content: right;}
.search_cont .search_inner .tab .lnb{padding: 12px 20px; background: #D1D4DE; border: 1px solid #B7BED4; cursor: pointer;}
.search_cont .search_inner .tab .lnb.on{background: #4B4B4B; border: 1px solid #4B4B4B;}
.search_cont .search_inner .tab .lnb span{color: #5B5B5B;}
.search_cont .search_inner .tab .lnb span::after{content: ''; padding-left: 15px; margin-left: 60px; background: url(../images/sub/icon/akar-chevron-down-small.svg) no-repeat center;}
.search_cont .search_inner .tab .lnb.on span{color: white;}
.search_cont .search_inner .tab .lnb.on span::after{content: ''; background: url(../images/sub/icon/akar-chevron-down-small_white.svg) no-repeat center;}
.search_cont .search_inner .tab_info{border: 1px solid #C3C9DA; padding: 22px; background: white;}
.search_cont .search_inner .tab_info .tab_info_inner{display: flex; align-items: center; border-bottom: 1px solid #eee; padding-bottom: 18px;}
.search_cont .search_inner .tab_info .tab_inner_search{display: inline-block; padding: 5px; background: #FBFBFB; border: 1px solid #D5D5D5; border-radius: 5px; margin-right: 6px;}
.search_cont .search_inner .tab_info .tab_inner_search img{padding: 5px; margin-right: 5px;}
.search_cont .search_inner .tab_info .tab_inner_search input{background: #FBFBFB; color: #707070; }
.search_cont .search_inner .tab_info .tab_inner_search input::placeholder{color: #C6C6C6;font-size: 14px;}




/* check_list */
.icheck input[type="radio"] {display: none;}
.icheck_wrap {display: flex;flex-wrap: wrap;}
.icheck {display: flex;align-items: center;}
.icheck.center {justify-content: center;}
.icheck.mar {margin-right: 20px;}
.icheck.mar:last-child{margin-right: 5px;}
.icheck input[type="radio"] {outline: none;border: none;background-color: #fff;-webkit-border-radius: 0;-webkit-appearance: none;display: none;}
.icheck input[type=radio]:checked + label {background-position: 0 0;}
.icheck label {cursor: pointer;height: 22px;-webkit-box-align: center;align-items: center;display: flex;font-size: 15px;color: #555555;font-weight: 500;}
.icheck input[type="radio"] + label:before {content: "";margin-right: 10px;width: 22px;display: flex;height: 22px;overflow: hidden;background-position: 0 0;background-image:url('../images/sub/icon/ico_chk.png');}
.icheck input[type="radio"]:checked + label:before {background-position: -22px 0;}

/* check_list_sm */
.icheck_sm_wrap {display: flex;flex-wrap: wrap;}
.icheck_sm {display: flex;align-items: center; margin-top: 18px;}
.icheck_sm.center {justify-content: center;}
.icheck_sm.mar {margin-right: 20px;}
.icheck_sm input[type="checkbox"] {outline: none;border: none;background-color: #fff;-webkit-border-radius: 0;-webkit-appearance: none;display: none;}
.icheck_sm input[type=checkbox]:checked + label {background-position: 0 0;}
.icheck_sm label {cursor: pointer;height: 22px;-webkit-box-align: center;align-items: center;display: flex;font-size: 15px;color: #7A7A7A;font-weight: 500;}
.icheck_sm input[type="checkbox"] + label:before {content: "";margin-right: 10px;width: 15px;display: flex;height: 14.6px;overflow: hidden;background-position: 0 0;background-image:url('../images/sub/icon/ico_chk_sm.svg');}
.icheck_sm input[type="checkbox"]:checked + label:before {background-position: -15px 0;}

.iradio_wrap {display: flex;flex-wrap: wrap;}
.iradio {display: flex;align-items: center;height: 48px;}
.iradio.mar {margin-right: 20px;}
.iradio input[type="radio"] {outline: none;border: none;background-color: #fff;-webkit-border-radius: 0;-webkit-appearance: none;display: none;}
.iradio input[type=radio]:checked + label {background-position: 0 0;}
.iradio label {cursor: pointer;height: 22px;-webkit-box-align: center;align-items: center;display: flex;font-size: 18px;color: #555555;font-weight: 500;}
.iradio input[type="radio"] + label:before {content: "";margin-right: 10px;width: 22px;display: flex;height: 22px;overflow: hidden;background-position: 0 0;background-image:url('../../images/public/sub/ico_radio.png');}
.iradio input[type="radio"]:checked + label:before {background-position: -22px 0;}

/* pagenation */
.pagenation .boder_box{display: flex; border: 1px solid #ccc; padding: 5px; border-radius: 10px; margin: 0 8px; cursor: pointer;}
.pagenation .number{display: inline-block; font-size: 20px; font-weight: bold; color: #646464; margin: 0 20px; cursor: pointer;}
.pagenation .number.on{background: #eee; padding: 12px 20px; border-radius: 10px; margin: 0 8px;}
.pagenation .number.on a{color: #0F64BB;}


/* tab_inner_list */
.tab_inner_list{width: 100%; background: #EAEFF5; padding: 20px; border: 1px solid #DEDEDE;border-top: 0; background: #F9F9F9;}
.tab_inner_list .tag_inner{flex-wrap: nowrap; align-items: flex-start;}
.tab_inner_list .tag{font-size: 14px; padding: 7px 10px; background: #EAEFF5; display: inline-block; border-radius: 5px; color: #1565A2; margin-right: 15px; margin-bottom: 10px;}
.tab_inner_list .tag .close-btn{content: ''; background: url(../images/sub/icon/feather-x.svg) no-repeat center; margin-left: 15px; padding-left: 10px; cursor: pointer;}
.tab_inner_list .reset{cursor: pointer; flex-wrap: nowrap;}
.tab_inner_list .reset span{width: 75px; margin-left: 8px; color: #7A7A7A;}
.tab_inner_list .common_btn{margin-top: 30px; float: right;}


/* table_menu */
.table_menu{position: relative;}
.table_menu:last-of-type{margin-bottom: 120px;}
.table_menu>.inner>.wrap{align-items: flex-end;}
.table_menu .menu_list, 
.table_menu .page_num{border: 1px solid #c8c8c8; padding: 10px; border-radius: 5px; display: inline-block; color: #7A7A7A;}
.table_menu .page_num span{margin-right: 20px; color: #7A7A7A;}
.table_menu .reference{font-size: 20px; color: #535353;}
.table_menu .board_btn p{color: #1565A2;}
.table_menu .board_td_btn p{color: #6B6B6B; margin-left: 10px; font-size: 17px; white-space: nowrap;}
.table_menu .table_menu_sub{color: #373737; font-size: 27px;}
.table_menu .table_menu_sub::before{content: ''; padding: 20px; background: url(../images/sub/icon/akar-circle-alert-fill.svg) no-repeat center;}
.table_menu .today_inner{background: #f5fdff;padding: 20px; border-top: 1px solid #8eb8e2; border-bottom: 1px solid #d0d0d0;}
.table_menu .today_inner .today{font-size: 22px; font-weight: bold; color: #535353;}
.table_menu .today_inner img{width: 20px;}
.table_menu .table_toggle{display: none;}





/* more_information */
.more_information{display: none; width: 100%;padding: 12px !important; background: #F3F3F3;}
.more_information>.wrap{flex-wrap: nowrap;}
.more_information .more_nutrient{width: 1270px;}
.more_information .more_nutrient .nutrient{width: 100%; overflow: hidden; flex-wrap: nowrap;}
.more_information .more_nutrient .nutrient .more_item{margin-right: 20px; flex-wrap: nowrap;}
.more_information .more_nutrient .nutrient .more_item .title{background: #EAEFF5; border: 1px solid #D5D5D5; padding: 3px 8px; border-radius: 6px; color: #1565A2; white-space: nowrap;}
.more_information .more_nutrient .nutrient .more_item .info{color: #515151; margin-left: 10px;}


/* pagenation_btn */
.pagenation_btn img{cursor: pointer;}
.pagenation_btn .slider_next{margin-left: 10px;}

/* table_inner */
.table_inner{width: 1400px; overflow: hidden; position: relative;}



/* decibal_title */
.decibal_title .slide_cont_box{flex-wrap: nowrap;width: 1400px;overflow: hidden; position: relative;}
.decibal_title .info{margin-bottom: 15px;}
.decibal_title .info .blue_style{color: #1565A2; font-size: 25px; font-weight: bold;}
.decibal_title .text{color: #535353; font-size: 22px;}
.decibal_title .page_nation img{margin-left: 25px;}
.decibal_title .slide_box{margin: 10px 0 80px 5px;}
.decibal_title .slide_box .box{width: 500px; padding: 45px 55px;box-shadow: 0px 2px 10px 1px rgb(0 0 0 / 15%); border-radius: 20px;margin-right: 60px;}
.decibal_title .slide_box .box .title_food{display: inline-block; background: #FFA100; padding: 10px 30px; border-radius: 50px; color: white; font-size: 18px;margin-bottom: 25px;}
.decibal_title .slide_box .box .info_title{font-size: 18px; color: #474747; margin-bottom: 20px;}
.decibal_title .slide_box .box .info_detail{font-size: 17px; color: #727272;line-height: 30px; margin-bottom: 30px;}
.decibal_title .slide_box .box .more{border: 1px solid #D5D5D5; padding: 10px 40px; display: inline-block; border-radius: 5px;float: right; cursor: pointer;}





/* signUp */
.signup .inner{width: 650px;}
.signup .sig_inner{margin-top: 70px;margin-bottom: 160px;}
.signup .sig_inputs{border-bottom: 1px solid #E3E3E3; margin-bottom: 30px; padding-bottom: 30px;}
.signup .sig_inputs .sig_title{font-size: 25px; font-weight: bold; padding-bottom: 50px; border-bottom: 4px solid #E3E3E3;text-align: center;}
.signup .sig_inputs .sig_input{padding: 25px 30px 0 110px;}
.signup .sig_inputs .sig_input .sig_check_box .sig_check{width: 100px;}
.signup .sig_inputs .sig_input .sig_check_box .sig_check>input{width: auto;}
.signup .sig_inputs .sig_input .sig_check_box .sig_check_data{background: #eee; padding: 10px; border-radius: 5px;}
.signup .sig_inputs .sig_input .sig_check_box .sig_check_data p{font-size: 14px; margin-left:5px; margin-bottom: 10px;}
.signup .sig_inputs .sig_input .sig_check_box .sig_check_data{margin-top: 10px;}
.signup .sig_inputs .sig_input .sig_check_box .sig_check_data input{width:100%;}
.signup .sig_inputs .sig_input p{width: 150px; font-size: 19px; color: #373737;}
.signup .sig_inputs .sig_input .information{color: #9a9a9a;}
.signup .sig_inputs .sig_input.active input{background: #eee;}
.signup .sig_inputs .sig_input.active input::placeholder{color: #9e9e9e;}
.signup .sig_inputs .sig_input input{width: 320px; border: 1px solid #E3E3E3; padding: 12px 15px; border-radius: 7px; margin-right: 12px;}
.signup .sig_inputs .sig_input input[type=radio]{width: auto;}
.signup .sig_inputs .sig_input input::placeholder{color: #CECECE;}
.signup .sig_inputs .sig_input input[type=radio]{width: auto;}
.signup .sig_inputs .sig_input .check_btn{border: 1px solid #1565A2; color: #1565A2; padding: 11px 25px; border-radius: 7px;}
.signup .common_btn{float: right;}

.sig_modify .sig_inputs .sig_input input{width: 72%;}





/* login */
.login .inner{width: 350px;}
.login .login_inner{margin-top: 70px;margin-bottom: 165px;}
.login .login_title{font-size: 25px; font-weight: bold; padding-bottom: 40px; text-align: center;}
.login .login_input p{width: 150px; font-size: 19px; color: #373737;}
.login .login_input input{width: 100%; border: 1px solid #E3E3E3; padding: 12px 15px; border-radius: 7px; margin-bottom: 10px;}

.login .login_input input::placeholder{color: #CECECE;}
.login .login_input .check_btn{border: 1px solid #1565A2; color: #1565A2; padding: 11px 25px; border-radius: 7px;}
.login .common_btn{margin-top: 20px; width: 100%; padding: 0; text-align: center;}
.login .common_opposite_btn{margin-top: 10px; width: 100%; padding: 0; text-align: center;}


/* popup */
.popup{display: none; width: 100vw; height: 100vh; background: rgba(0, 0, 0, 0.5); position: relative; position: fixed; top: 0;z-index: 10;}
.popup .box{padding: 80px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);background: white;border-radius: 20px;}
.popup .box .close{position: absolute;top: 35px; right: 35px; cursor: pointer;}
.popup .box .title{font-size: 25px; font-weight: bold; color: #1565A2; margin-bottom: 30px;}
.popup .box .info{color: #727272; font-size: 16px; padding-bottom: 40px; border-bottom: 1px solid #E6E6E6; line-height: 25px;}
.popup .box .popup_title{color: #1565A2; font-size: 18px; font-weight: bold; margin-left: 10px;}
.popup .box .tag_inner .tag{background: #EAEFF5; padding: 8px 12px; border-radius: 5px; color: #1565A2; margin-right: 20px;}




#footer{background: #31343D;}
#footer a, #footer p, #footer .copy{color: #949494;}
#footer .footer_top{padding: 25px 0; border-bottom: 1px solid #505050;}
#footer .footer_top .gnb .lnb a::after{content: "|"; margin: 20px; color: #575757;}
#footer .footer_top .gnb .lnb:last-child a::after{content: none;}
#footer .footer_botoom{padding: 40px 0;}
#footer .footer_botoom .url{margin-left: 80px;}
#footer .footer_botoom .url .github{margin-bottom: 8px;}



