<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="search_mapper">

	<select id="findDataSortList" resultType="SearchCategory">
		SELECT data_sort_id, data_sort_name
		FROM (SELECT data_sort_id, data_sort_name
		      FROM food_list_processed
		      UNION ALL
		      SELECT data_sort_id, data_sort_name
		      FROM food_list_cooked
		      UNION ALL
		      SELECT data_sort_id, data_sort_name
		      FROM food_list_agriculture
		      UNION ALL
		      SELECT data_sort_id, data_sort_name
		      FROM food_list_fisheries)
		GROUP BY data_sort_id, data_sort_name
		ORDER BY data_sort_id, data_sort_name	
	</select>


	<select id="findMainCategoryList" resultType="SearchCategory">
		SELECT data_sort_id, data_sort_name,main_category_id, main_category_name
		FROM (SELECT data_sort_id, data_sort_name,main_category_id, main_category_name
		      FROM food_list_processed
		      UNION ALL
		      SELECT data_sort_id, data_sort_name,main_category_id, main_category_name
		      FROM food_list_cooked
		      UNION ALL
		      SELECT data_sort_id, data_sort_name,main_category_id, main_category_name
		      FROM food_list_agriculture
		      UNION ALL
		      SELECT data_sort_id, data_sort_name,main_category_id, main_category_name
		      FROM food_list_fisheries)
		GROUP BY data_sort_id, data_sort_name,main_category_id, main_category_name
		ORDER BY data_sort_id, data_sort_name,main_category_id, main_category_name	
	</select>
	
	<select id="findfoodTotalItems" resultType="int">
		SELECT count(*)
		FROM
		(SELECT
		    food_code,
		    food_name,
		    data_sort_id,
		    data_sort_name,
		    food_sort_id,
		    food_sort_name,
		    main_category_id,
		    main_category_name,
		    rep_food_id,
		    rep_food_name,
		    mid_category_id,
		    mid_category_name,
		    sub_category_id,
		    sub_category_name,
		    min_category_id,
		    min_category_name,
		    nut_standard_amount,
		    kcal,
		    water,
		    protein,
		    fat,
		    batch,
		    carbohydrate,
		    sugars,
		    dietary_fiber,
		    calcium,
		    iron_content,
		    phosphorus,
		    potassium,
		    sodium,
		    vitamin_a,
		    retinol,
		    beta_carotene,
		    thiamine,
		    riboflavin,
		    niacin,
		    vitamin_c,
		    vitamin_d,
		    cholesterol,
		    saturated_fat,
		    trans_fat,
		    source_code,
		    source_name,
		    ref_amount_once,
		    food_weight,
		    manufacturing_number,
		    manufacturing_company,
		    data_generation_method_code,
		    data_generation_method_name,
		    data_creation_date,
		    data_base_date
		FROM food_list_processed
		UNION ALL
		SELECT
		    food_code,
		    food_name,
		    data_sort_id,
		    data_sort_name,
		    food_sort_id,
		    food_sort_name,
		    main_category_id,
		    main_category_name,
		    rep_food_id,
		    rep_food_name,
		    mid_category_id,
		    mid_category_name,
		    sub_category_id,
		    sub_category_name,
		    min_category_id,
		    min_category_name,
		    nut_standard_amount,
		    kcal,
		    water,
		    protein,
		    fat,
		    batch,
		    carbohydrate,
		    sugars,
		    dietary_fiber,
		    calcium,
		    iron_content,
		    phosphorus,
		    potassium,
		    sodium,
		    vitamin_a,
		    retinol,
		    beta_carotene,
		    thiamine,
		    riboflavin,
		    niacin,
		    vitamin_c,
		    vitamin_d,
		    cholesterol,
		    saturated_fat,
		    trans_fat,
		    source_code,
		    source_name,
		    null,
		    food_weight,
		    null,
		    manufacturing_company,
		    data_generation_method_code,
		    data_generation_method_name,
		    data_creation_date,
		    data_base_date
		FROM food_list_cooked
		UNION ALL
		SELECT
		    food_code,
		    food_name,
		    data_sort_id,
		    data_sort_name,
		    food_sort_id,
		    food_sort_name,
		    main_category_id,
		    main_category_name,
		    rep_food_id,
		    rep_food_name,
		    mid_category_id,
		    mid_category_name,
		    sub_category_id,
		    sub_category_name,
		    min_category_id,
		    min_category_name,
		    nut_standard_amount,
		    kcal,
		    water,
		    protein,
		    fat,
		    batch,
		    carbohydrate,
		    sugars,
		    dietary_fiber,
		    calcium,
		    iron_content,
		    phosphorus,
		    potassium,
		    sodium,
		    vitamin_a,
		    retinol,
		    beta_carotene,
		    thiamine,
		    riboflavin,
		    niacin,
		    vitamin_c,
		    vitamin_d,
		    cholesterol,
		    saturated_fat,
		    trans_fat,
		    source_code,
		    source_name,
		    null,
		    null,
		    null,
		    null,
		    data_generation_method_code,
		    data_generation_method_name,
		    data_creation_date,
		    data_base_date
		FROM food_list_agriculture
		UNION ALL
		SELECT
		    food_code,
		    food_name,
		    data_sort_id,
		    data_sort_name,
		    food_sort_id,
		    food_sort_name,
		    main_category_id,
		    main_category_name,
		    rep_food_id,
		    rep_food_name,
		    mid_category_id,
		    mid_category_name,
		    sub_category_id,
		    sub_category_name,
		    min_category_id,
		    min_category_name,
		    nut_standard_amount,
		    kcal,
		    water,
		    protein,
		    fat,
		    batch,
		    carbohydrate,
		    sugars,
		    dietary_fiber,
		    calcium,
		    iron_content,
		    phosphorus,
		    potassium,
		    sodium,
		    vitamin_a,
		    retinol,
		    beta_carotene,
		    thiamine,
		    riboflavin,
		    niacin,
		    vitamin_c,
		    vitamin_d,
		    cholesterol,
		    saturated_fat,
		    trans_fat,
		    source_code,
		    source_name,
		    null,
		    null,
		    null,
		    null,
		    data_generation_method_code,
		    data_generation_method_name,
		    data_creation_date,
		    data_base_date
		FROM food_list_fisheries)
	</select>
	
	

	<select id="findFoodList" resultType="Food" parameterType="Page">
		SELECT * 
		FROM(
			SELECT 
			ROWNUM num, total.*
			FROM(
			SELECT *
			FROM
			(SELECT
			    food_code,
			    food_name,
			    data_sort_id,
			    data_sort_name,
			    food_sort_id,
			    food_sort_name,
			    main_category_id,
			    main_category_name,
			    rep_food_id,
			    rep_food_name,
			    mid_category_id,
			    mid_category_name,
			    sub_category_id,
			    sub_category_name,
			    min_category_id,
			    min_category_name,
			    nut_standard_amount,
			    kcal,
			    water,
			    protein,
			    fat,
			    batch,
			    carbohydrate,
			    sugars,
			    dietary_fiber,
			    calcium,
			    iron_content,
			    phosphorus,
			    potassium,
			    sodium,
			    vitamin_a,
			    retinol,
			    beta_carotene,
			    thiamine,
			    riboflavin,
			    niacin,
			    vitamin_c,
			    vitamin_d,
			    cholesterol,
			    saturated_fat,
			    trans_fat,
			    source_code,
			    source_name,
			    ref_amount_once,
			    food_weight,
			    manufacturing_number,
			    manufacturing_company,
			    data_generation_method_code,
			    data_generation_method_name,
			    data_creation_date,
			    data_base_date
			FROM food_list_processed
			UNION ALL
			SELECT
			    food_code,
			    food_name,
			    data_sort_id,
			    data_sort_name,
			    food_sort_id,
			    food_sort_name,
			    main_category_id,
			    main_category_name,
			    rep_food_id,
			    rep_food_name,
			    mid_category_id,
			    mid_category_name,
			    sub_category_id,
			    sub_category_name,
			    min_category_id,
			    min_category_name,
			    nut_standard_amount,
			    kcal,
			    water,
			    protein,
			    fat,
			    batch,
			    carbohydrate,
			    sugars,
			    dietary_fiber,
			    calcium,
			    iron_content,
			    phosphorus,
			    potassium,
			    sodium,
			    vitamin_a,
			    retinol,
			    beta_carotene,
			    thiamine,
			    riboflavin,
			    niacin,
			    vitamin_c,
			    vitamin_d,
			    cholesterol,
			    saturated_fat,
			    trans_fat,
			    source_code,
			    source_name,
			    null,
			    food_weight,
			    null,
			    manufacturing_company,
			    data_generation_method_code,
			    data_generation_method_name,
			    data_creation_date,
			    data_base_date
			FROM food_list_cooked
			UNION ALL
			SELECT
			    food_code,
			    food_name,
			    data_sort_id,
			    data_sort_name,
			    food_sort_id,
			    food_sort_name,
			    main_category_id,
			    main_category_name,
			    rep_food_id,
			    rep_food_name,
			    mid_category_id,
			    mid_category_name,
			    sub_category_id,
			    sub_category_name,
			    min_category_id,
			    min_category_name,
			    nut_standard_amount,
			    kcal,
			    water,
			    protein,
			    fat,
			    batch,
			    carbohydrate,
			    sugars,
			    dietary_fiber,
			    calcium,
			    iron_content,
			    phosphorus,
			    potassium,
			    sodium,
			    vitamin_a,
			    retinol,
			    beta_carotene,
			    thiamine,
			    riboflavin,
			    niacin,
			    vitamin_c,
			    vitamin_d,
			    cholesterol,
			    saturated_fat,
			    trans_fat,
			    source_code,
			    source_name,
			    null,
			    null,
			    null,
			    null,
			    data_generation_method_code,
			    data_generation_method_name,
			    data_creation_date,
			    data_base_date
			FROM food_list_agriculture
			UNION ALL
			SELECT
			    food_code,
			    food_name,
			    data_sort_id,
			    data_sort_name,
			    food_sort_id,
			    food_sort_name,
			    main_category_id,
			    main_category_name,
			    rep_food_id,
			    rep_food_name,
			    mid_category_id,
			    mid_category_name,
			    sub_category_id,
			    sub_category_name,
			    min_category_id,
			    min_category_name,
			    nut_standard_amount,
			    kcal,
			    water,
			    protein,
			    fat,
			    batch,
			    carbohydrate,
			    sugars,
			    dietary_fiber,
			    calcium,
			    iron_content,
			    phosphorus,
			    potassium,
			    sodium,
			    vitamin_a,
			    retinol,
			    beta_carotene,
			    thiamine,
			    riboflavin,
			    niacin,
			    vitamin_c,
			    vitamin_d,
			    cholesterol,
			    saturated_fat,
			    trans_fat,
			    source_code,
			    source_name,
			    null,
			    null,
			    null,
			    null,
			    data_generation_method_code,
			    data_generation_method_name,
			    data_creation_date,
			    data_base_date
			FROM food_list_fisheries)
			order by food_code
			) total
		)
		WHERE num BETWEEN #{viewStartItem} AND #{viewEndItem}
	</select>


</mapper>