<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="diet_mapper">

	<select id="findTotalDiet" parameterType="User" resultType="Diet">
		SELECT * FROM total_diet
		WHERE account_no = #{accountNo} AND member_no = #{memberNo}
	</select>
	
	<select id="findDailyDiet" parameterType="User" resultType="Diet">
		SELECT * FROM daily_diet
		WHERE account_no = #{accountNo} AND member_no = #{memberNo}
	</select>
	
	<insert id="addDailyDiet" parameterType="Diet">
		INSERT INTO daily_diet 
		VALUES( log_no_seq.nextval, #{accountNo}, #{memberNo}, SYSDATE, #{foodCode},
				#{foodIntake}, #{kcal}, #{water}, #{protein}, #{fat}, #{batch}, #{carbohydrate}
				, #{sugars}, #{dietaryFiber}, #{calcium}, #{ironContent}, #{phosphorus}
				, #{potassium}, #{sodium}, #{vitaminA}, #{retinol}, #{betaCarotene}, #{thiamine}
				, #{riboflavin}, #{niacin}, #{vitaminC}, #{vitaminD}, #{cholesterol}
				, #{saturatedFat}, #{transFat}, 1 )
	</insert>
	
	<select id="findFoodListByMemberInfo" parameterType="User" resultType="Diet">
		SELECT food.*
		FROM (SELECT * FROM daily_diet diet 
			  WHERE account_no = #{accountNo} AND member_no = #{memberNo}) diet,
			 food_union_table food
		WHERE diet.food_code = food.food_code
	</select>
	
	
	
</mapper>