<?xml version="1.0" encoding="UTF-8"?>							
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"							
					"http://mybatis.org/dtd/mybatis-3-config.dtd">									
<configuration>							
	
	<settings>						
		<setting name="mapUnderscoreToCamelCase" value="true"/>	
			<!--	_ 표시 -> CamelCase  userType  맵핑	 -->
			<!-- <setting name="jdbcTypeForNull" value="VARCHAR"/> -->
	</settings>						
							
	<typeAliases>						
		<typeAlias type="com.app.dto.user.User" alias="User"/>	
		<typeAlias type="com.app.dto.user.Gender" alias="Gender"/>
		<typeAlias type="com.app.dto.user.NutritionStandard" alias="NutritionStandard"/>		
		<!-- <typeAlias type="com.app.dto.search.SearchCategory" alias="SearchCategory"/>
		<typeAlias type="com.app.dto.search.Page" alias="Page"/>
		<typeAlias type="com.app.dto.search.SearchInfo" alias="SearchInfo"/>
		<typeAlias type="com.app.dto.search.Food" alias="Food"/>
		<typeAlias type="com.app.dto.search.Nutrient" alias="Nutrient"/> -->	
		<typeAlias type="com.app.dto.user.Profile" alias="Profile"/>	
	</typeAliases>						
							
</configuration>							
