<?xml version="1.0" encoding="UTF-8"?>							
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"							
					"http://mybatis.org/dtd/mybatis-3-config.dtd">									
<configuration>							
	
	<settings>						
		<setting name="mapUnderscoreToCamelCase" value="true"/>	
			<!--	_ 표시 -> CamelCase  userType  맵핑	 -->
			<!-- <setting name="jdbcTypeForNull" value="VARCHAR"/> -->
	</settings>						
							
	<typeAliases>						
		<typeAlias type="com.app.dto.user.User" alias="User"/>	
		<typeAlias type="com.app.dto.user.Gender" alias="Gender"/>			
	</typeAliases>						
							
</configuration>							
